* {
    margin: 0;
    padding: 0;
}

main {
    background-color: #F9FAFC;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

main.logado {
    padding-top: 2.5rem;
}

main.boardOverflow {
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header__container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: .25rem;
    background-color: #026AA7;
}

header.boardHeader .header__container{
    background-color: rgba(0, 0, 0, 0.2);
}

.header__container--center {
    height: 2rem;
    opacity: .5;
}

.header__container--center img {
    width: auto;
    height: 100%;
}

.btn-icon {
    width: 2rem;
    height: 2rem;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 2rem;
}

.btn-icon:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.btn-icon i {
    font-size: 1rem;
    line-height: 1rem;
    color: white;
}

.btn-icon.dark {
    background-color: transparent;
}

.btn-icon.dark:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-icon.dark i {
    color: rgba(0, 0, 0, 0.7)
}

.btn-addList {
    text-align: left;
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
}

.btn-addList:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.btn-addList i {
    margin-right: .5rem;
}

.header__container--right {
    display: flex;
    align-items: center;
}

.header__container--userName {
    margin-right: 1rem;
    color: white;
    font-size: 1rem;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, 
.col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, 
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
.col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, 
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, 
.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, 
.col-xl-8, .col-xl-9, .col-xl-auto, .container, .container-fluid {
    padding-left: .5rem;
    padding-right: .5rem;
}

.row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

#trelloAlert {
    margin: 0;
    position: fixed;
    z-index: 9999;
    bottom: 1rem;
    right: -18rem;
    width: 18rem;

    transition: all 0.2s;
}

#trelloAlert.show {
    right: 1rem;
}