.boards-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
    padding: 1rem 0;
    font-weight: bold;
}

.boards-title i {
    margin-right: .5rem;
}

.board {
    width: 100%;
    height: 6rem;
    border-radius: .25rem;
    cursor: pointer;
    position: relative;
}

.board span {
    position: relative;
    z-index: 1;
}

.board::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    background-color: transparent;
    transition: 0.2s;
}

.board:hover::after {
    background-color: rgba(0, 0, 0, 0.1);
}

.board.newBoard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDD;
}

.board.newBoard button{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}

.board.newBoard span {
    font-size: .875rem;
}

.boardElement {
    border-radius: .25rem;
    overflow: hidden;
    width: 100%;
    height: 6rem;
    position: relative;
    margin-bottom: 1rem;
}

.boardElement a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: .75rem;
    position: relative;
    transition: all 0.2s;
    background-color: #CCC;
}

.boardElement a span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    width: 100%;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1rem;
    color: white;
}

.boardElement a:hover {
    text-decoration: none;
}

.boardElement a.colorBlue { background: #0079BF; }
.boardElement a.colorBlue:hover { background: rgb(4, 95, 148); }

.boardElement a.colorYellow { background: #D29034; }
.boardElement a.colorYellow:hover { background: rgb(172, 115, 37); }

.boardElement a.colorGreen { background: #519839; }
.boardElement a.colorGreen:hover { background: #33721e; }

.boardElement a.colorRed { background: #B04632; }
.boardElement a.colorRed:hover { background: rgb(134, 50, 34); }

.boardElement a.colorPurple { background: #89609E; }
.boardElement a.colorPurple:hover { background: rgb(108, 65, 129); }

.boardElement a.colorPink { background: #CD5A91; }
.boardElement a.colorPink:hover { background: rgb(155, 57, 104); }

.boardElement a.colorLightGreen { background: #4BBF6B; }
.boardElement a.colorLightGreen:hover { background: rgb(53, 134, 76); }

.boardElement a.colorLightBlue { background: #00AECC; }
.boardElement a.colorLightBlue:hover { background: rgb(3, 120, 141); }

.boardElement a.colorGrey { background: #838C91; }
.boardElement a.colorGrey:hover { background: rgb(97, 100, 102); }


.board-options {
    position: absolute;
    width: max-content;
    display: inline-block;
    bottom: .5rem;
    right: .5rem;
    text-align: right;
}

.form-colors {
    display: flex;
    flex-wrap: wrap;
}

.form-color {
    width: 33%;
    flex-shrink: 0;
    flex-grow: 0;
    padding: .5rem;

}

.form-color input {
    display: none;
}

.form-color label {
    width: 100%;
    height: 3rem;
    border-radius: .25rem;
    display: block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.form-color label::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.form-color label:hover::after {
    opacity: 1;
    visibility: visible;
}

.form-color input:checked + label::after {
    opacity: 1;
    visibility: visible;
    content: "\2713";
}

.form-board p {
    margin: 0;
}

.form-color input[value="colorBlue"] + label { background-color: #0079BF; }
.form-color input[value="colorYellow"] + label { background-color: #D29034; }
.form-color input[value="colorGreen"] + label { background-color: #519839; }
.form-color input[value="colorRed"] + label { background-color: #B04632; }
.form-color input[value="colorPurple"] + label { background-color: #89609E; }
.form-color input[value="colorPink"] + label { background-color: #CD5A91; }
.form-color input[value="colorLightGreen"] + label { background-color: #4BBF6B; }
.form-color input[value="colorLightBlue"] + label { background-color: #00AECC; }
.form-color input[value="colorGrey"] + label { background-color: #838C91; }

.form-submit {
    padding: .5rem;
    padding-bottom: 0;
    padding-top: 1rem;
}

.form-submit .btn {
    padding: .75rem;
}

.deleteModalFooter {
    justify-content: space-between;
}